# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Sensitive User Data
*.json
*.txt
*.xlsx

# Exclude specific files but keep examples
wallets.xlsx
profile_ids.txt
prompts.json

# IDE and OS files
.idea/
.vscode/
*.DS_Store
